@charset "utf-8";
@media only screen and (min-width: 640px) {
	/*logo*/
	.logo {
		width: 640px;
		height: 476px;
		padding: 22px 0 16px;
		margin: 0 auto;
	}
	.logo img {
		display: block;
		width: 640px;
		height: 476px;
	}
	/*立即安装按钮*/
.lijianzhuang {
	display: block;
	margin: 0 auto;
	width: 460px;
	height: 92px;
}
.lijianzhuang img {
	display: block;
	height: 92px;
	width: 460px;
}
/*提示*/
.tishi {
	color: #87949f;
	font-size: 18px;
	text-align: center;
	padding: 20px 0 70px;
}
/*主题*/
.zhuti {
	display: block;
	width: 640px;
	margin: 0 auto;
}
/*列表*/
.list {
	width: 640px;
	margin: 0 auto;
	padding: 62px 0 28px;
}

.list li {
	padding-left: 88px;
	padding-bottom: 32px;
	overflow: hidden;
}

.list li img {
	width: 128px;
	height: 128px;
	float: left;
}

.list .biaotitxt {
	padding-left: 28px;
	float: left;
}

.list .biaotitxt h1 {
	font-size: 20px;
	color: #3a4048;
	font-weight: normal;
	padding: 28px 0 22px;
}

.list .biaotitxt p {
	font-size: 14px;
	color: #87949F;
}


/*网页底部*/
footer {
	font-size: 16px;
	color: #87949F;
	text-align: center;
	padding: 20px 0;
	line-height: 1.5em;
	background: #f9f9f9;
}
}